{% extends 'main/base.html' %}

{% block title %}About F3 - F3 Paulding{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>About F3</h1>
        <p class="lead">F3's mission is to plant, grow and serve small workout groups for men for the invigoration of male community leadership.</p>
        <h2>Core Principles</h2>
        <p>F3 operates on 5 core principles:</p>
        <ul>
            <li>All workouts will be free of charge</li>
            <li>Open to all men</li>
            <li>Held outdoors, rain or shine, hot or cold</li>
            <li>Peer-led in a rotating fashion</li>
            <li>Always ends with a Circle of Trust (COT)</li>
        </ul>
        <h2 class="mt-4">The Three F's</h2>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <b>Fitness</b> <i class="fa-solid fa-dumbbell"></i>
                <p>Workouts are free, peer-led and held outdoors in all weather conditions.</p>
              </div>
              <div class="col-sm">
                <b>Fellowship</b> <i class="fa-solid fa-people-group"></i>
                <p>Community is built on a foundation of trust and respect.</p>
              </div>
              <div class="col-sm">
                <b>Faith</b> <i class="fa-solid fa-cross"></i>
                <p>The belief in something bigger than ourselves.</p>
                <br>
                <br>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %} 